.MenuItem {
  padding: 0;
  outline: none;
  user-select: none;
  border-radius: 0;
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  list-style: none; 
}
.MenuContent {
  position: fixed;
  width: 300px;
  background-color: white;
  margin-top: -160px;
  margin-left: -50px;
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  animation-duration: 250ms;
  animation-timing-function: ease;
}
.MenuContent a {
  text-decoration: none;
  color: inherit;
}
.Divider{
  border-top: 1px solid rgba(78, 80, 88, 0.48);
  margin: 2px 3px 0;
}

.FFLogsChar img {
  height: 50px;
  width: 50px;
  margin: 2px;
}
.FFLogsChar{
  display: flex;
  background-color: #faedf2;

}
.FFLogsChar:hover {
  background-color: #ffe1ed;
}
.FFLogsServerLoc{
  font-size: 12px;
  margin-top: -20px;

}



.NavigationMenuContent[data-motion='from-start'] {
  animation-name: enterFromLeft;
}
.NavigationMenuContent[data-motion='from-end'] {
  animation-name: enterFromRight;
}
.NavigationMenuContent[data-motion='to-start'] {
  animation-name: exitToLeft;
}
.NavigationMenuContent[data-motion='to-end'] {
  animation-name: exitToRight;
}

